/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

body {
          overscroll-behavior: none;
          background: #c4c4e6;
          background: -webkit-linear-gradient(0deg, #c4c4e6 0%, #eeeeee 100%);
          background: linear-gradient(0deg, #c4c4e6 0%, #eeeeee 100%);
   }

.headerStyle {
          display: flex;
          flex-direction: row;
          justify-content: end;
          list-style: none;
     
}


li{
   display: flex; 
   flex-basis: 5.5%;
}
a:link{
     text-decoration: none;
     
}



h1, h2, span, p, a{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
     float: left;
     width: 50%;
     font-size: 3rem;
     margin-right: 81%;
     
}

a{
     color: black;
}

#buttonStyle{
     color: white;
     background-color: cornflowerblue;
     
}

.discoverStyle{
     color: white;
     background-color: cornflowerblue;
     
}

.fa-brands{
     color: rgb(30, 84, 183);
     
}

input{
     margin-bottom: 1.5%;
}

.socialMedia{
     padding-bottom: 20px;
     
}

.facebook, .twitter, .instagram{
     float: left;
     width: 5%;
}

main>span{
     color: rgb(10, 48, 118); 
     font-size: 1rem;
}

h2{
     font-size: 2rem;
}

main{
    margin-left: 30%;
}

.sectionTwo, .sectionThree, .sectionFour{
     text-align: center;
}
     
.listStyle{
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.spanStyle{
     float: left;
     width: 50%;
     display: flex;
     justify-content: space-evenly;
}


.spanStyleTwo{
     float: left;
     width: 50%;
}

.sectionThreeImg{
     margin-top: 3%;
}

.sectionFour, .sectionThree, .sectionTwo{
     margin-top: 3%;
}

.spanTextStyle{
     color: rgb(10, 48, 118); 
     font-weight: bold;
}

.sectionOne{
     padding-left: 1%;
}

.weekday{
     padding-left: 30%;
}

.time{
     padding-right: 30%;
}

.picOfJohn{
     height: 70px;
}

.resizeSpan{
     font-size: 0.6rem;
}

.paraStyle{
     padding-left: 20%;
     padding-right: 20%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
